.home {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.bookList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 65%;
  transition: width 0.2s;
}
